<%- include('./header.ejs') %>
    <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
        <div class="col col-xl-10 ">
            <div class="card" style="border-radius: 1rem; margin-top: 120px;">
                <div class="row "><br>
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="https://educationmaster.onrender.com/images/usadm.webp" alt="login" class="img-fluid"
                            style="border-radius: 1rem 0 0 1rem;">
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 text-black ">
                            <div class="d-flex align-items-center justify-content-center pb-1">
                            <img src="https://educationmaster.onrender.com/images/adimg.jpeg" class="register_logo" width="150px" height="150px"
                            >
                            </div>
                            <div>
                            <h4 class="text-center  mb-3 pb-3" style="color: #6696a0;">Admin Login</h4>
                        </div>
                        <% if(message1.length >0){ %>
                            <div class="alert alert-success">
                                <%= message1 %>
                            </div>
                        <% } %>
                        <% if(message2.length >0){ %>
                            <div class="alert alert-danger">
                                <%= message2 %>
                            </div>
                        <% } %>

                            <form action="/verifylogin" method="post" class="pt-4">
                                <div class="form-group mb-4">
                                    <input type="text" name="email" class="form-control form-control-lg"
                                        placeholder="email" fdprocessedid="xzbp0i">
                                </div>
                                <div class="form-group mb-4">
                                    <input type="password" name="password" class="form-control form-control-lg"
                                        placeholder="password" fdprocessedid="irt4ld">
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-lg btn-block form-control"
                                        style="background: #12587a; color:#ffff;" fdprocessedid="mw0qin">Log In</button>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<%- include('./footer.ejs') %>